{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Cadastro {% endblock %}</h1>
    <h2 style="color: Red;" >Atenção!! O USERNAME NÃO PODE CONTER ESPAÇOS, CASO TENHA CADASTRADO COM ESPAÇOS AO ESCREVER SUBSTITUA POR _ NO LUGAR DO ESPAÇO</h2>
    <form action='/cadastrar' method = 'POST'>
        <p>UserName : <input name='username' type='text'/></p>
        <p>Email : <input name='email' type='text'/></p>
        <p>Nome Completo : <input name='fullname' type='text'/></p>
        <!--<p>Classe/Ano : <input name='classe' type='text'/></p>-->
        <p>Senha : <input name='pass' type='password'/></p>
        <p>Repita a Senha : <input name='pass2' type='password'/></p>
        <p><input type='submit' placeholder= "Login"/></p>
    </form>
    <p> Já tem uma conta?<a href="/login">Clica aqui para Entrar</a>></p>

{% endblock %}