{% extends 'base.html' %}

{% block content %}
<center>
    <h1>{% block title %} Olá {{user}}🤪👋, desejo um bom trabalho no teste/prova! {% endblock %}</h1>
    <img src="{{url_for('static',filename='gifs/hello2.gif')}}">
</center>
    <h2>Provas Disponiveis</h2>
    {% for dadosProva in da %}
        <div class='message'>
            <p>Data:{{dadosProva['Data']}}</p>
            <p>Professor:{{dadosProva['Professor']}}</p>
            <p>Prova de:{{dadosProva['Titulo']}}</p>
            Hora do Fim : <h2 id='fim' >{{dadosProva['fim']}}</h2>
            <h2><a href="/load/{{dadosProva['teacher']}}/{{dadosProva['token']}}"> VER PROVA</a></h2>
            <h2><a href="/resultado/{{dadosProva['teacher']}}/{{dadosProva['token']}}"> VER NOTA</a></h2>
        </div>
    {% endfor %}
{% endblock %}