{% extends 'baseDashBoardUser.html' %}

{% block content %}
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h1>Olá {% block title %} {{user}} {% endblock %} !</h1>
                        </div>
                    </div>
                </div>
            </div>
        
            
            <div class="row clearfix">
                {% for dadosProva in da %}    
                    <div class="col-sm-12 col-md-4 mb-30">
                        <div class="card card-box">
                            <h5 class="card-header weight-500">{{dadosProva['Professor']}} - {{dadosProva['teacher']}} </h5>
                            <div class="card-body">
                                <h5 class="card-title">{{dadosProva['Titulo']}}</h5>
                                {% if dadosProva['token'] in presencas %}
                                    <p style="color: green; font-weight: bold;">
                                        A sua Presença foi Confirmada Pelo Professor
                                    </p>
                                {% endif %}
                                <p class="card-text">
                                    {{dadosProva["descri"]}}
                                </p>
                                {% if dadosProva["nota"] >= 0 %}
                                    <p class="card-text">
                                        Teste Feito No Dia :  {{dadosProva['Data']}}
                                    </p>
                                    <a href="/resultado/{{dadosProva['teacher']}}/{{dadosProva['token']}}"class="btn btn-primary  bi bi-journal-bookmark-fill"> Ver Correção</a>
                                {% else %}
                                    <p class="card-text">
                                        Teste Marcado para :  {{dadosProva['Data']}}
                                    </p>
                                    {% if dadosProva["invisible"] %}
                                        <p class="card-text">
                                            Indisponivel para Si.
                                        </p>
                                    {% else %}
                                        <a href="/load/{{dadosProva['teacher']}}/{{dadosProva['token']}}" class="btn btn-primary bi bi-eye-fill"> Ver Teste</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            {% if  dadosProva["nota"] < 0  %}
                                <div class="card-footer text-muted">Nota Final Indisponivel até ao Fim do teste.</div>
                            {% else%}
                                <div class="card-footer text-muted">Nota Final :  {{dadosProva["nota"]}} Valores.</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

            </div>
       
{% endblock %}