<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8" />
		<title>{% block title %} {% endblock %} - TesteFácil</title>

		<!-- Site favicon -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="{{url_for('static',filename='images/apple-touch-icon.png')}}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="{{url_for('static',filename='images/icon32.png')}}"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="{{url_for('static',filename='images/icon16.png')}}"
		/>

		<!-- Mobile Specific Metas -->
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/core.css')}}" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('static',filename='styles/icon-font.min.css')}}"
		/>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}" />
	</head>
	<body>
		<div
			class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20"
		>
        {% block content %} {% endblock %}
			
		</div>
		<!-- js -->
		<script src="{{url_for('static',filename='scripts/core.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/script.min.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/process.js')}}"></script>
		<script src="{{url_for('static',filename='scripts/layout-settings.js')}}"></script>
	
	</body>
</html>
