{% extends 'baseDashBoardUser.html' %}

{% block content %}

    <!--Cabeçalho do Teste-->
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>{% block title %} {{dadosProva['Titulo']}} - {{dadosProva["teacher"]}} {% endblock %}</h4>
                    </div>
                        <b>Nome :</b> {{u['fullname']}};
                        <b>Turma :</b> {{u['turma']}};
                        <b>Professor:</b> {{dadosProva['Professor']}};
                        <b>Data:</b> {{dadosProva['Data']}};
                        <b>Hora do Termino :</b> {{dadosProva['fim']}}
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="title">
                        <h4>Descrição</h4>
                    </div>
                        {{dadosProva["descri"]}};
                </div>
            </div>
        </div>
    <!--Cabeçalho do Teste end-->
    <!--cards-->
    <h4 class="h4 text-blue mb-30"> Perguntas </h4>
    <form action='/submit/{{dadosProva["teacher"]}}' method='POST'>
        <div class="row clearfix">
            {% for message in messages %}
                <div class="col-md-4 col-sm-12 mb-30">
                        <div class="card text-white bg-dark card-box">
                            <div class="card-header">ID : {{ message['id']}}  Cotação: {{message['cotacao']}}</div>
                            <div class="card-body">
                                <h5 class="card-title text-white">{{ message['title']}}</h5>
                                {% set questions =  message['questions']   %}
                                {% for q in questions %}
                                    {% if q['ques']|length > 0 %}
                                        <p class="card-text">
                                            <div class="col-md-6 col-sm-12">
                                                    <div class="custom-control custom-radio mb-5">
                                                        <input type="radio" id="{{q['id']}}_q{{ message['id']}}" name="q{{ message['id']}}" value="{{q['id']}}" class="custom-control-input">
                                                        <label class="custom-control-label" for="{{q['id']}}_q{{ message['id']}}">{{q['ques']}}</label>
                                                    </div>
                                            </div>
                                        </p>
                                    {% endif %}
                                {% endfor %} 
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" name="tokenProva" value={{tokenProva}}>
        <div class="col-md-4 col-sm-12 mb-30">
            <input type="submit"  class="btn btn-outline-primary" value="Entregar Teste"/>
        </div>
    </form>
    <!--cards end-->
    

{% endblock %}