{% extends 'baseDashBoardUser.html' %}

{% block content %}
        <div class="min-height-200px">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <img
                                src="{{url_for('static',filename=imagem)}}"
                                alt=""
                                class="avatar-photo"
                            />
                        </div>
                        <h5 class="text-center h5 mb-0">{{u['fullname']}} ({% block title %} {{u['userName']}} {% endblock %})</h5>
                        <p class="text-center text-muted font-14">
                           {{stat}}
                        </p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Sobre {{u['userName']}} </h5>
                            <ul>
                                <li>
                                    <span>Email Address:</span>
                                    {{u["email"]}} 
                                </li>
                                {% if isTeacher %}
                                    <li>
                                        <span>Biografia</span>
                                        {{u["bio"]}}<br />
                                    </li>
                                    <li>
                                        <span>Turmas</span>
                                        {% for tu in turmas2: %}
                                            <a href="/turma/{{tu['teacher']}}/{{tu['nome']}}">{{tu['nome']}}</a>,
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a
                                            class="nav-link active"
                                            data-toggle="tab"
                                            href="#timeline"
                                            role="tab"
                                            >Linha Temporal</a
                                        >
                                    </li>
                                    {% if editable %}
                                        <li class="nav-item ">
                                            <a
                                                class="nav-link"
                                                data-toggle="tab"
                                                href="#setting"
                                                role="tab"
                                                >Editar Perfil</a
                                            >
                                        </li>
                                    {% endif %}
                                </ul>
                                <div class="tab-content">
                                    <!-- Timeline Tab start -->
                                    <div
                                        class="tab-pane fade show active"
                                        id="timeline"
                                        role="tabpanel"
                                    >
                                        <div class="pd-20">
                                            <div class="profile-timeline">
                                                <div class="timeline-month">
                                                    <h5>Eventos da Conta</h5>
                                                </div>
                                                <div class="profile-timeline-list">
                                                    <ul>
                                                        {% for log in timeLine%}
                                                            {% if log["nivel"] == "Conf" and editable  %}
                                                                    <li>
                                                                        <div class="date"></div>
                                                                        <div class="task-name">
                                                                            <i class="ion-android-alarm-clock"></i> {{log["titulo"]}}
                                                                        </div>
                                                                        <p>
                                                                            {{log["descricao"]}}
                                                                        </p>
                                                                        <div class="task-time">{{log["data"]}}</div>
                                                                    </li>
                                                            {% elif log["nivel"] == "UnConf" %}
                                                                    <li>
                                                                        <div class="date"></div>
                                                                        <div class="task-name">
                                                                            <i class="ion-android-alarm-clock"></i> {{log["titulo"]}}
                                                                        </div>
                                                                        <p>
                                                                            {{log["descricao"]}}
                                                                        </p>
                                                                        <div class="task-time">{{log["data"]}}</div>
                                                                    </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </div>			
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Timeline Tab End -->
                                        
                                    <!-- Setting Tab start -->
                                    {% if editable %}
                                    <div
                                        class="tab-pane fade height-100-p"
                                        id="setting"
                                        role="tabpanel"
                                    >
                                        <div class="profile-setting">
                                            <form action="/updateinformation" method="POST">
                                                <ul class="profile-edit-list row">
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class="text-blue h5 mb-20">
                                                            Editar Informações Pessoais
                                                        </h4>
                                                        <div class="form-group">
                                                            <label>Carregar Nova Foto de Perfil</label>
                                                            <div class="custom-file">
                                                                <input type="file" name="newPhoto" class="custom-file-input" />
                                                                <label class="custom-file-label">Nova Foto</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nome Completo</label>
                                                            <input
                                                                class="form-control form-control-lg"
                                                                type="text" name="fullname"
                                                                placeholder="{{u['fullname']}}"
                                                            />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input
                                                                class="form-control form-control-lg"
                                                                type="email"
                                                                name="email"
                                                                placeholder="{{u['email']}}"
                                                            />
                                                        </div>
                                                        {% if isTeacher %}
                                                            <div class="form-group">
                                                                <label>Token/Chave da Conta</label>
                                                                <input
                                                                    class="form-control form-control-lg"
                                                                    type="text" name="token"
                                                                    placeholder="################################"
                                                                />
                                                            </div>
                                                        
                                                            <div class="form-group">
                                                                <label>Biográfia</label>
                                                                <textarea class="form-control" placeholder="{{u['bio']}}" name="bio"></textarea>
                                                            </div>
                                                        {% endif %}
                                                        <div class="form-group">
                                                            <label>Senha Actual</label>
                                                            <input
                                                                class="form-control form-control-lg"
                                                                type="password" name="pass"
                                                                placeholder="*******************"
                                                            />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nova Senha</label>
                                                            <input
                                                                class="form-control form-control-lg"
                                                                type="password" name="pass2"
                                                                placeholder="*******************"
                                                            />
                                                        </div>
                                                        {% if not isTeacher %}
                                                            <h5 class="text-blue h5 mb-20">
                                                                Atenção : Os efeitos da actualização do Nome Completo ou Email só serão percebidos apartir das
                                                                próximas que o Estudante Engressar, as anteriores permaneceram com o antigo nome ou email.
                                                            </h5>
                                                        {% endif %}
                                                        <!--
                                                        <div class="form-group">
                                                            <div
                                                                class="custom-control custom-checkbox mb-5"
                                                            >
                                                                <input
                                                                    type="checkbox"
                                                                    class="custom-control-input"
                                                                    id="customCheck1-1"
                                                                    name="notific"
                                                                    
                                                                />
                                                                <label
                                                                    class="custom-control-label weight-400"
                                                                    for="customCheck1-1"
                                                                    >Concordo em Receber Notificações no Meu Email.</label
                                                                >
                                                            </div>
                                                        </div>-->
                                                        <div class="form-group mb-0">
                                                            <input
                                                                type="submit"
                                                                class="btn btn-primary"
                                                                value="Actualizar"
                                                            />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!-- Setting Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}