{% extends 'base1.html' %}

{% block content %}
    <h1>{% block title %} Alunos {% endblock %}</h1>
    <table border="1">
        <tr>
            <!--Print all table atributes-->
            {% for a in atributs %}
                <th>{{a}}</th>
            {% endfor %}
        </tr>
        {% for u in allusers %}
            <tr>
                <td>{{u["numeroEst"]}}</td>
                <td>{{u["userName"]}}</td>
                <td>{{u["nome"]}}</td>
                <td>{{u["turma"]}}</td>
                
            </tr>
        {% endfor %}
    </table>
{% endblock %}