{% extends 'errorBase.html' %}

{% block content %}
    <div class="pd-10">
        <div class="error-page-wrap text-center">
            <h1>{% block title %} Sucesso {% endblock %}</h1>
            <h3>{{title}}</h3>
            <p>
                {{desc}}
            </p>
            <div class="pt-20 mx-auto max-width-200">
                <a href="/dashboard" class="btn btn-primary btn-block btn-lg"
                    >Página Inicial</a
                >
            </div>
        </div>
    </div>
{% endblock %}