{% if istTeacher %}
    {% extends 'dashboardAdmin.html' %}
{% else %}
    {% extends 'baseDashBoardUser.html' %}
{% endif %}

{% block content %}
        <div class="min-height-200px">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="profile-photo">
                            <img
                                src="{{url_for('static',filename=imagem)}}"
                                alt=""
                                class="avatar-photo"
                            />
                        </div>
                        <h5 class="text-center h5 mb-0">Turma {{t["nome"]}} do Professor {% block title %} {{teacher}} {% endblock %}</h5>
                        <p class="text-center text-muted font-14">
                           TURMA
                        </p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5 text-blue">Sobre  a Turma {{t["nome"]}} </h5>
                            <ul>
                                    <li>
                                        <span>Descrição</span>
                                        {{t["descricao"]}}<br />
                                    </li>
                            </ul>
                            <ul>
                                <li>
                                    <span>Criada Pelo Professor</br>   <a href="/profile/{{teacher}}">{{teacher}}</a></span>
                                  
                                </li>
                            </ul>
                            {% if notInturma %}
                                <ul>
                                    <li>
                                        <a class="btn btn-primary btn-lg btn-block  bi bi-send-plus" href="/engressar/{{teacher}}/{{t['nome']}}"> Enviar Pedido de Incresso</a>
                                    </li>
                                </ul>
                            {% elif canSeeStudents  %}
                              {% if not isTeacher %}
                                    <ul>
                                        <li>
                                            <img
                                            src="{{url_for('static',filename="images/check-mark-green.png")}}"
                                            alt=""
                                            class="avatar-photo"
                                        /> Estudante Verificado Pelo Professor
                                        </li>
                                    </ul>
                              {% endif %}
                            {% else %}
                             {% if not isTeacher %}
                                    <ul>
                                        <li>
                                            <img
                                            src="{{url_for('static',filename="images/caution-sign.png")}}"
                                            alt=""
                                            class="avatar-photo"
                                        /> O Seu Pedido de Ingresso a Esta Turma ainda não foi Aceite
                                        </li>
                                    </ul>
                              {% endif %}
                            {% endif %}
                        </ul> 
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card-box height-100-p overflow-hidden">
                        <div class="profile-tab height-100-p">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                    </li>
                                    {% if canSeeStudents %}
                                        <li class="nav-item">
                                            <a
                                                class="nav-link active"
                                                data-toggle="tab"
                                                href="#alunos"
                                                role="tab"
                                                >Estudantes</a
                                            >
                                        </li>
                                        {% if isTeacher %}
                                            <li class="nav-item">
                                                <a
                                                    class="nav-link"
                                                    data-toggle="tab"
                                                    href="#aceptalunos"
                                                    role="tab"
                                                    >Novos Estudantes</a
                                                >
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                <div class="tab-content">
                                    <!--Alunos da Turma-->
                                    {% if canSeeStudents %}
                                        <div
                                            class="tab-pane fade show active"
                                            id="alunos"
                                            role="tabpanel"
                                        >
                                            <div class="pd-20">           
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    {% if isTurmaTeacher %}
                                                                        <th scope="col">Número</th>
                                                                    {% endif %}
                                                                        <th scope="col">UserName</th>
                                                                    
                                                                    <th scope="col">Nome</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for a in alunos %}
                                                                    <tr>
                                                                        {% if isTurmaTeacher %}
                                                                            <td scope="row">{{a["numeroEst"]}}</td>
                                                                        {% endif %}
                                                                            <td scope="row"><a href="/profile/{{a["userName"]}}" target="_blank">{{a["userName"]}}</a></td>
                                                                        
                                                                        <td scope="row">{{a["nome"]}}</td>
                                                                        {% if isTeacher %}
                                                                            <td scope="row">
                                                                                <a href="/delet/{{user}}/{{t["nome"]}}/{{a["userName"]}}" class="dropdown-toggle no-arrow">
                                                                                <span class="micon bi bi-backspace-fill"> Apagar</span>
                                                                                </a>
                                                                            </td>
                                                                        {% endif %}
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                            </div>
                                        </div>
                                    <!--Alunos da Turma end-->

                                    <!--Stundent to acept-->
                                        {% if isTeacher %}
                                            <div
                                                class="tab-pane fade show"
                                                id="aceptalunos"
                                                role="tabpanel"
                                            >
                                                <div class="pd-20">           
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col">UserName</th>
                                                                        <th scope="col">Nome</th>
                                                                        <th scope="col">Turma</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for a in alunosToAcept %}
                                                                        <tr>
                                                                            
                                                                                <td scope="row"><a href="/profile/{{a["userName"]}}" target="_blank">{{a["userName"]}}</a></td>
                                                                                <td scope="row"><a href="/profile/{{a["userName"]}}" target="_blank">{{a["fullname"]}}</a></td>
                                                                                <td scope="row">{{a["turma"]}}</td>
                                                                                
                                                                                <td scope="row">
                                                                                    <a href="/users/verify/{{a['userName']}}/{{a['turma']}}" class="dropdown-toggle no-arrow">
                                                                                    <span class="micon   bi bi-check-square-fill"> Verificar</span>
                                                                                    </a>
                                                                                </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                    <!--Stundent to acept end-->
                                    {% else %}
                                            <div
                                            class="tab-pane fade show active"
                                            id="alunos"
                                            role="tabpanel">
                                            <img 
                                                src="{{url_for('static',filename="images/cross.png")}}"
                                                alt=""
                                            />  <span>Informações Não Disponiveis Para Si.</span>
                                          
                                        </div>

                                        
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %}